<app-nav-bar></app-nav-bar>
<div class="testimonial" *ngIf="welcome==0">
  <div class="small-container">
    <div class="col-3">
      <h1>Apply for Loan</h1>
      <form [formGroup]="applyLoan" (ngSubmit)="getLoanFormData()">

        <div *ngIf="step == 1" formGroupName="firstPage">
        <!-- page 1 -->
      <div class="input-row">
        <div class="input-group">

          <label for="enterName">Applicant Name:</label>
          <input  type="text" id="enterName" placeholder="Enter Applicant Name" formControlName="applicantName" />
          <div  class="divlen"  *ngIf="applicantName && applicantName.invalid && applicantName.touched">
          <span style="color:red" *ngIf= "applicantName.errors?.['required']">*Name is Required. </span>
          <span style="color:red" *ngIf= "applicantName.errors?.['pattern']">Enter only characters. </span>
          </div>
        </div>
        <div class="input-group">
          <label for="enterPanNo">Applicant PAN Number:</label>
          <input  type="tex"  id="enterPanNo" placeholder="Enter Applicant PAN no" formControlName="applicantPanNo"/>
          <div  class="divlen"  *ngIf="applicantPanNo && applicantPanNo.invalid && applicantPanNo.touched">
          <span style="color:red" *ngIf="applicantPanNo.errors?.['required']">*Pan Card is Required. </span>
          <span style="color:red" *ngIf="applicantPanNo.errors?.['pattern']">Enter a valid Pan Card </span>
          </div>
        </div>
      </div>
      <div class="input-row">
        <div class="input-group">

          <label for="enterAddress">Applicant Address:</label>
          <input  type="text" id="enterAddress" placeholder="Enter Applicant Address" formControlName="applicantAddress"/>
          <div  class="divlen"  *ngIf="applicantAddress && applicantAddress.invalid && applicantAddress.touched">
          <span style="color:red" *ngIf="applicantAddress.errors?.['required']">*Address is Required. </span>
          </div>
        </div>
        <div class="input-group">

          <label for="enterSalary">Applicant Salary:</label>
          <input  type="text"  id="enterSalary"  placeholder="Enter Applicant Salary" formControlName="applicantSalary"/>
          <div  class="divlen"  *ngIf="applicantSalary && applicantSalary.invalid && applicantSalary.touched">
          <span style="color:red" *ngIf="applicantSalary.errors?.['required']">*Salary is Required. </span>
          <span style="color:red" *ngIf="applicantSalary.errors?.['pattern']">Enter Valid Salary </span>
          </div>
        </div>
      </div>
      <div class="input-row">
        <div class="input-group">

          <label for="enterMobile">Applicant Mobile:</label>
          <input  type="number" id="enterMobile"  placeholder="Enter Applicant Mobile" formControlName="applicantMobileNo"/>
          <div  class="divlen"  *ngIf="applicantMobileNo && applicantMobileNo.invalid && applicantMobileNo.touched">
          <span style="color:red" *ngIf="applicantMobileNo.errors?.['required']">*Mobile Number is Required. </span>
          <span style="color:red" *ngIf="applicantMobileNo.errors?.['pattern']">Enter Valid Mobile No. </span>
          </div>
        </div>
        <div class="input-group">
          <label for="enterAmount">Loan Amount:</label>
          <input  type="number"  id="enterAmount"  placeholder="Enter Loan Amount Required" formControlName="loanAmount"/>
          <div  class="divlen"  *ngIf="loanAmount && loanAmount.invalid && loanAmount.touched">
          <span style="color:red" *ngIf="loanAmount.errors?.['required']">*Loan Amount is Required. </span>
          <span style="color:red" *ngIf="loanAmount.errors?.['pattern']">Enter Valid Loan Amount. </span>
          </div>
        </div>
      </div>
      <div class="input-row">
        <div class="input-group">
          <label for="enterEmail">Applicant Email Id:</label>
          <input  type="email" id="enterEmail"  placeholder="Enter Applicant Email Id" formControlName="applicantEmailId"/>
          <div  class="divlen"  *ngIf="applicantEmailId && applicantEmailId.invalid && applicantEmailId.touched">
          <span style="color:red" *ngIf="applicantEmailId.errors?.['required']">*EmailId is Required. </span>
          <span style="color:red" *ngIf="applicantEmailId.errors?.['email']">Enter Valid Email Address </span>
          </div>
        </div>
        <div class="input-group">
          <label for="enterMonths">Loan Repayment Months:</label>
          <input  type="month"  id="enterMonths"  placeholder="Enter loan repayment months" formControlName="loanRepaymentMonth"/>
          <div  class="divlen"  *ngIf="loanRepaymentMonth && loanRepaymentMonth.invalid && loanRepaymentMonth.touched">
          <span style="color:red" *ngIf="loanRepaymentMonth.errors?.['required']">*Loan Repayment Month is Required. </span>
          </div>
        </div>
      </div>
      <div class="input-row">
        <div class="input-group">

          <label for="enterAadharNo">Applicant Aadhaar Number:</label>
          <input  type="text" id="enterAadharNo"  placeholder="Enter Applicant Aadhaar No" formControlName="applicantAadharNo"/>
          <div  class="divlen"  *ngIf="applicantAadharNo && applicantAadharNo.invalid && applicantAadharNo.touched">
          <span style="color:red" *ngIf="applicantAadharNo.errors?.['required']">*Aadhar Number is Required. </span>
          <span style="color:red" *ngIf="applicantAadharNo.errors?.['pattern']">Enter Valid Aadhar Number. </span>
          </div>
        </div>
      </div>
    </div>
    <!-- page 2 -->
    <div *ngIf="step == 2" formGroupName="secondPage">
     <div class="input-row">
       <div class="input-group">
         <label for="selectDocumentType">Upload Documents:</label>
         <select id = "selectDocumentType" class="input-box" formControlName="document">
           <option value="null" disabled>Select the document type.</option>
           <option *ngFor="let d of documents" class="input-box2" [ngValue]="d" >{{d}}</option>
         </select>
         <div  class="divlen"  *ngIf="document && document.invalid && document.touched">
         <span style="color:red" *ngIf="document.errors?.['required']">*File is Required. </span>
         </div>
       </div>
     </div>

     <div class="input-row">
       <div class="input-group">
         <label for="chooseFile">Images or Documents(Upload below 2mb):</label>
         <input type="file" id="chooseFile" value="" required formControlName="file"/>
         <div  class="divlen"  *ngIf="file && file.invalid && file.touched">
         <span style="color:red" *ngIf="file.errors?.['required']">*File is Required. </span>
         <span style="color:red" *ngIf="file.errors?.['email']">Enter Valid Email Address </span>
         </div>
         <button type="button" name="button">Upload</button>
       </div>
     </div>
   </div>
     <button type="button" name="button" *ngIf = "step != 1" (click)="previous()">Previous</button>
     <button type="submit" name="button" *ngIf = "step != 2">Next</button>
     <button type="submit" name="button" *ngIf = "step == 2">Apply Loan</button>
     </form>
   </div>
 </div>
</div>

<div class="testimonial" *ngIf="welcome==1">
  <div class="small-container">
    <div class="col-3">
      <h3>You have applied for loan successfully.</h3>
      <h4>Your Loan Id is: 1111111</h4>
    </div>
  </div>
 </div>


<router-outlet></router-outlet>
