
<div class="testimonial">
    <div class="small-container">
      <div class="row">
          <div class="col-3" id="statusGrid1">
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="getRegisterFormData()">
              <select id = "admin/user" class="input-box" formControlName="role">
                <option *ngFor="let r of role" class="input-box2" [ngValue]="r">{{r}}</option>
              </select>
              <input type="email" name="email" value="" class="input-box" id="email" placeholder="Enter Email Id" formControlName="emailId" />
              <div  class="divlen"  *ngIf="email && email.invalid && email.touched">
                  <span style="color:red" *ngIf="email.errors?.['required']">*EmailId is Required. </span>
                  <span style="color:red" *ngIf="email.errors?.['email']">Enter Valid Email Address </span>
              </div>
              <input type="text" name="username" value="" class="input-box" id="username" placeholder="Enter Username" formControlName="userName"/>
              <div class="divlen" *ngIf="userName && userName.invalid && (userName.touched || userName.dirty)">
                  <span style="color:red" *ngIf="userName.errors?.['required']">*UserName is Required.</span>
                  <span style="color:red" *ngIf="userName.errors?.['pattern']">Enter only characters.</span>
              </div>
              <input type="text" name="mobile" value="" class="input-box" id="mobileNumber" placeholder="Enter Mobilenumber" formControlName="mobileNumber"/>
              <div  class="divlen"  *ngIf="mobile && mobile.invalid && (mobile.touched || mobile.dirty)">
                  <span style="color:red" *ngIf="mobile.errors?.['required']">*Mobile Number is Required.</span>
                  <span style="color:red" *ngIf="mobile.errors?.['pattern']">Enter only numbers(Minimum length 10).</span>
              </div>
              <input type="password" name="password" value="" class="input-box" id="password" placeholder="Password" formControlName="password"/>
              <div  class="divlen"  *ngIf="password && password.invalid && (password.touched || password.dirty)">
                  <span style="color:red" *ngIf="password.errors?.['required']">*Password is Required.</span>
                  <span style="color:red" *ngIf="password.errors?.['pattern']">Password must be 8-16 characters and contain numbers,letters and special characters!</span>
              </div>
              <input type="password" name="confirmpassword" value="" class="input-box" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword"/>
                  <span class="divlen" style="color:red" *ngIf=" confirmPassword && (confirmPassword.touched || confirmPassword.dirty) && confirmPassword.errors?.['required']">*Password is Required.</span>
                  <span class="divlen" style="color:red" *ngIf=" confirmPassword && confirmPassword.dirty && confirmPassword.invalid">Confirm Password and Password should be same.</span>
              <button type="submit" class="submit-btn" id="submitButton" name="button">Register</button>
            </form>
            <p>Already a user ? </p><a routerLink="/user/login" id="signinLink">Login</a>
          </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
