@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;/*width aur heigth jab define krte h taab uss m padding and border add hota h thats why same width aur height hone k bd bi different size aate h iss liye
  size same krne k liye (to maintain its width)*/
  font-family: 'Poppins',sans-serif;
}

.input-box{
  width: 70%;
  background: transparent;
  border: 1px solid #1b1b1b;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #1b1b1b;
}

/* div row wise and span is col wise */
/* display: flex is useed with flex-basis to maintain the div in horizontally */
/* div ko horizontally divide krne k liye use krte h default auto h  */
/* to provide responsive website minimize kre ge toh voo adjust krleta h */
/* whether the item should wrap or not */
/* horizontally cintent ko set krta h algin */
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

.col-3{
  flex-basis:30%;
  /* all col will occupy 30% */
  min-width: 250px;
  margin-bottom: 30px;
  text-align:right;
  background-image: linear-gradient(rgba(0, 0, 100, 0.8),rgba(0, 0, 100, 0.8)),url("/assets/images/registerImage/bg1.jpg");
}


.small-container{
  max-width: 1080px;
  margin:auto;
  /* for center */
  padding-left: 25px;
  padding-right: 25px;

}


.testimonial{
  padding-top: 100px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  /* red green blue alpha ,aplha specifie the opacity */
  /* cursor: pointer; */
  /* arrow deta h pointer */
  transition: transform 0.5s;
}

.testimonial .col-3 img{
  width:50px;
  margin-top: 20px;
  border-radius: 50%;

}

.testimonial .col-3:hover{
  transform: translatey(-10px);
  /* in x axis it moves from 0 to -10 (opposite of translateY) */
  /* from -10 to 0 */
}


.testimonial .col-3{
  font-weight: 600;
  font-size: 16px;
}

span{
  font-size: 13px;
  margin-left: 10px;
}

a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

button{
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.submit-btn{
  position: relative;
}

.submit-btn::after{
  content: '\27a4';
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

.input-box{
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

::placeholder{
  color: #fff;
  font-size: 12px;
}

.input-box2{
  color: black;
}

.divlen,.divlen span{
  margin-top: 0;
  font-size: 12px;
}

h2{
  color: #fff;
}

p{
  color: red;
}




/* media query for less than 600 screen size */

@media only screen and (max-width:600px){
  .row{
    text-align: center;
    /* all the content will come in center for moblie less than 600px */
  }

  .col-3{
    flex-basis: 100%;
    /* all the col will taking 100% fr moblie screen */
  }
}
