.header{
    background-color: navy;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  h1{
    color: whitesmoke;
  }
  
  span{
    float: right;
  }
  
  #loginLink{
    cursor: pointer;
  }
  
  