<div class="outer-container">
    <div class="header">
      <h1>Register</h1>
    </div>
    <form class="container mt-5" #signupForm="ngForm" (ngSubmit)="onSignup()">
      <div *ngIf="err" class="alert alert-danger" role="alert">
        <strong>An Error Occured </strong>{{msg.message}}
      </div>
      <div class="col-sm-6 shadow round pb-3 px-5 pt-3 mx-auto">
        <div class="mb-3">
          <label class="form-label">Role : </label>
          <input [(ngModel)]="user.userRole" #role="ngModel" type="text" class="form-control" placeholder="Enter admin/user" id="admin/user" name="admin/user" required >
          <div [class.d-none]="role.valid || role.untouched">
            <small class="text-danger">Role is required.</small>
          </div>
        </div>
  
        <div class="mb-3">
          <label class="form-label">Email : </label>
          <input [(ngModel)]="user.email" #email="ngModel" type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
          <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf="email.errors?.['required']">Email is a required</small>
            <small class="text-danger" *ngIf="email.errors?.['pattern']">Enter a valid Email</small>
          </div>
        </div>
  
        <div class="mb-3">
          <label class="form-label">Username : </label>
          <input [(ngModel)]="user.username" #userName="ngModel" type="text" class="form-control " placeholder="Enter Username" id="username" name="username" required >
          <div [class.d-none]="userName.valid || userName.untouched">
            <small class="text-danger">Username is required.</small>
          </div>
        </div>
  
        <div class="mb-3">
          <label class="form-label">Mobile Number : </label>
          <input [(ngModel)]="user.mobileNumber" #mobile="ngModel" type="text" class="form-control " placeholder="Enter Mobile number" id="mobileNumber" name="mobileNumber" required pattern="^[6-9]\d{9}$">
          <div *ngIf="mobile.errors && (mobile.invalid && mobile.touched)">
            <small class="text-danger" *ngIf="mobile.errors?.['required']">Mobile number is a required</small>
            <small class="text-danger" *ngIf="mobile.errors?.['pattern']">Enter a valid Mobile number</small>
          </div>
        </div>
  
        <div class="mb-3">
          <label class="form-label">Password : </label>
          <input [(ngModel)]="user.password" #password="ngModel" type="password" class="form-control " placeholder="Enter Password" id="password" name="password" required >
          <div [class.d-none]="password.valid || password.untouched">
            <small class="text-danger">Password is required.</small>
          </div>
        </div>
  
        <button class="btn btn-primary mb-3" id="signupButton" type="submit" [disabled]="signupForm.form.invalid">Sign Up</button>
        <span *ngIf="err" class="form-label mb-3">
          Existing User/admin? <a style="color: blue;" id="loginLink" (click)="login()"> Login </a>
        </span>
      </div>
  
    </form>
  </div>
  