<div class="outer-container">
    <div class="container">
      <div class="heading">Register Here</div>
      <form [formGroup]="exform" (ngSubmit)="onSubmit()">
        <div *ngIf="err" class="alert alert-danger" role="alert">
          <strong>An Error Occured </strong>{{msg}}
        </div>
        <div class="card-details">
          <div class="card-box">
            <span class="detaiils">Email</span>
            <input id="email" [(ngModel)]="user.email" formControlName="email" type="text" placeholder="Enter your email address">
            <small *ngIf="email && email.invalid && email.touched" class="text-danger">Email is mandatory</small>
          </div>
          <div class="card-box">
            <span class="detaiils">Username</span>
            <input id="username" [(ngModel)]="user.username" formControlName="username" pe="text" placeholder="Enter your username">
            <small *ngIf="username && username.invalid && username.touched" class="text-danger">Username is mandatory</small>
          </div>
          <div class="card-box">
            <span class="detaiils">Mobile Number</span>
            <input id="mobileNumber" [(ngModel)]="user.mobileNumber" formControlName="mobileNumber" type="text" placeholder="Enter your mobile number">
            <small *ngIf="mobileNumber && mobileNumber.invalid && mobileNumber.touched" class="text-danger">Mobile Number is required</small>
          </div>
          <div class="card-box">
            <span class="detaiils">User-role</span>
            <input id="admin/user" [(ngModel)]="user.userRole" formControlName="userRole" type="text" placeholder="Enter your user role">
            <small *ngIf="userRole && userRole.invalid && userRole.touched" class="text-danger">User Role is required</small>
          </div>
          <div class="card-box">
            <span class="detaiils">Password</span>
            <input id="password" [(ngModel)]="user.password" formControlName="password" type="text" placeholder="Enter your password">
            <small *ngIf="password && password.invalid && password.touched" class="text-danger">Password is required</small>
          </div>
        </div>
        <div class="button">
          <input id="signupButton" [disabled]="exform.invalid" type="submit" value="Sign Up">
        </div>
      </form>
      </div>
    </div>
    