<app-nav-bar></app-nav-bar>
<div class="testimonial">
  <div class="small-container">
    <div class="col-3">
      <h1>Profile Information</h1>
      <form class="" action="index.html" method="post">
      <div class="input-row">
        <div class="input-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="" placeholder="" value="Aman Arya" disabled/>
          <!-- required means that this field must be field (for validation) -->
        </div>
        <div class="input-group">
          <label for="phone">Address:</label>
          <input type="text"  id="address" name="" placeholder="" value="+91 8954840635" disabled/>
        </div>
      </div>
      <div class="input-row">
        <div class="input-group">
          <label for="name">Moblie Number:</label>
          <input type="text" id="moblieNo" name="" placeholder="Aman Arya" value="+91 8954840635" disabled/>
          <!-- required means that this field must be field (for validation) -->
        </div>
        <div class="input-group">
          <label for="phone">Loan Id:</label>
          <input type="text"  id="loanId" name="" placeholder="+91 8954840635" value="+91 8954840635" disabled/>
        </div>
      </div>
      <div class="input-row">
        <div class="input-group">
          <label for="name">Email Id:</label>
          <input type="text" id="email" name="" placeholder="Aman Arya" value="+91 8954840635" disabled/>
          <!-- required means that this field must be field (for validation) -->
        </div>
        <div class="input-group">
          <label for="phone">Monthly EMI:</label>
          <input type="text"  id="monthlyemi" name="" placeholder="+91 8954840635" value="+91 8954840635" disabled/>
        </div>
      </div>
      <button type="submit" name="button"  id="trackButton">Edit Profile</button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
