@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;/*width aur heigth jab define krte h taab uss m padding and border add hota h thats why same width aur height hone k bd bi different size aate h iss liye
  size same krne k liye (to maintain its width)*/
  font-family: 'Poppins',sans-serif;
}




button{
  cursor: pointer;
  border: 1px solid #fff;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-3{
  flex-basis:30%;
  /* all col will occupy 30% */
  min-width: 250px;
  margin-bottom: 30px;
  text-align:right;
}

.small-container{
  max-width: 1080px;
  margin:auto;
  /* for center */
  padding-left: 25px;
  padding-right: 25px;

}

.testimonial{
  padding-top: 100px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  /* red green blue alpha ,aplha specifie the opacity */
  /* cursor: pointer; */
  /* arrow deta h pointer */
  transition: transform 0.5s;
}



.testimonial .col-3:hover{
  transform: translatey(-10px);
  /* in x axis it moves from 0 to -10 (opposite of translateY) */
  /* from -10 to 0 */
}

.testimonial .col-3{
  font-weight: 600;
  font-size: 16px;
}

h1{
  margin-bottom: 10px;
}

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group{
  flex-basis: 45%;
}

input{
  width:100%;
  border:none;
  border-bottom: 1px solid gray;
  outline: none;
  padding-bottom: 5px;
  background: bottom;
}

label{
  margin-bottom: 6px;
  display: block;
  color: blue;
}

button{
  padding: 0px 10px;
  background: blue;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  color:white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

button:hover{
  background: black;
  /* must be declare <!doctype to use hover */
  /* used to select elements when you mouse over them */
}

/* media query for less than 600 screen size */

@media only screen and (max-width:600px){
  .row{
    text-align: center;
    /* all the content will come in center for moblie less than 600px */
  }

  .col-3{
    flex-basis: 100%;
    /* all the col will taking 100% fr moblie screen */
  }

  .input-group{
   padding: 10px;
 }

 #name{
   width: 100px;
 }
 #address{
   width: 100px;
 }
 #email{
   width: 100px;
 }
 #moblieNo{
   width: 100px;
 }
 #loanId{
   width: 100px;
 }
 #monthlyemi{
   width: 100px;
 }
}
