<div class="testimonial">
    <div class="small-container">
      <div class="row">
          <div class="col-3" id="statusGrid1">
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="getUserFormData()">
              <input  type="email" value="" class="input-box" id="email" placeholder="Your Email Id" formControlName="emailId"/>
              <div class="divlen" *ngIf="email && email.invalid && email.touched">
                  <span style="color:red" *ngIf="email.errors?.['required']">*EmailId is Required. </span>
                  <span style="color:red" *ngIf="email.errors?.['email']">Enter Valid Email Address </span>
              </div>
              <input  type="password" value="" class="input-box" id="password" placeholder="Password" formControlName="password"/>
              <div class="divlen" *ngIf="password && password.invalid && password.touched">
                  <span style="color:red" *ngIf="password.errors?.['required']">*Password is Required. </span>
                  <span style="color:red" *ngIf="password.errors?.['pattern']">Password must be 8-16 characters and contain numbers,letters and special characters!</span>
              </div>

              <button type="submit" class="submit-btn" id="loginButton" name="button">Login</button>
            </form>
             <a routerLink="/user/signup" id="signupLink"> <button type="button" class="submit-btn" name="button">Sign Up</button></a>
             <p>I'm New Here</p>
          </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
