<nav>
    <div class="logo"><a routerLink="/user/addLoan">Car Loan</a></div>
    <input type="checkbox" id="click" name="" value="">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a class="active" routerLink="/user/addLoan">Apply Loan</a></li>
      <li><a routerLink="/user/viewLoan">Loan Status</a></li>
      <li><a routerLink="/user/getProfile">Profile</a></li>
      <li><a routerLink="/user/login">Logout</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  